[submodule "Vitis_Libraries"]
	path = Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "Cranium"]
	path = Cranium
	url = https://github.com/100/Cranium.git
[submodule "MNIST_Extractor"]
	path = MNIST_Extractor
	url = https://github.com/AndrewCarterUK/mnist-neural-network-plain-c.git
